header{
    background-color: black;
    padding: 1px 0px;;
    
}
main{
    box-shadow: 8px 8px 5px grey;
    background-color: gainsboro;
}

.content{
    margin: 0 40px;
    padding: 20px;
}
li{
    display: inline;
    padding: 5px;
    font-size: 110%;
    
}
a{
    color:white;
    text-decoration: none;
}
p{
    text-align: justify;
    column-count: 4;
    column-fill: balance;
    column-rule-color: black;
    column-rule-style: solid;
}
.footer{
    text-align: center;
    color: white;
    background-color: black;
    height: 50px;
}